---
import { ShopButton, OrangeButton, TransparentButton } from '../components/Button'
import { RadioInput, RadioGroup } from '../components/Radio'
import '@fontsource-variable/manrope';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
    <ShopButton>See Product</ShopButton>
    <OrangeButton>See Product</OrangeButton>
    <TransparentButton>See Product</TransparentButton>
    <RadioGroup client:only="vue">
      <RadioInput client:only="vue" />
    </RadioGroup>
	</body>
</html>
